* {
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑";
}

body {
	padding: 20px;
}

/*外层容器部分*/
#container {
	padding: 20px;
	background: #eee;
	border: 1px solid #999;
	position: relative;
}

/*团队logo以及团队名称部分*/
#container #team {
	width: 200px;
	padding: 20px;
	border: 1px solid #999;
	float: left;
}

#container #team #team_logo {
	width: 80px;
	height: 80px;
}

#container #team h1 {
	font-size: 1em;
	font-weight: none;
	float: right;
}

/*团队介绍*/
#container #team_desc {
	padding: 20px;
	border: 1px solid #999;
	margin-left: 262px;
	margin-right: 142px;
}


/*个人列表*/
#container #person {
	padding: 20px;
	width: 80px;
	border: 1px solid #999;
	float: right;
}

#container #person img {
	width: 80px;
	height: 80px;
	margin-top: 20px;
}

#container #person img:first-child {
	margin-top: 0px;
}

/*清楚浮动*/
#container:after {
	content: "";
	display: block;
	clear: both;
}